@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
}

.left-pane, .right-pane {
  margin-top: 40px;
}

.left-pane {
  text-align: center;
  margin-right: 20px;
}

#garage-door {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(
    #434130,
    #434130 40px,
    #5B5941 40px,
    #5B5941 80px
  );
  text-align: center;
  color: #fff;
  padding-top: 4px;
}

#garage-door.open {
	max-height: 40px;
}

.btn {
  margin: 10px;
}

.items-wrapper {
  /*margin-left: 30%;*/
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.item-wrapper {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  margin: 10px;
  text-align: center;
  padding: 20px;
  background-color: #f4a460;
}

.add-item-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.item-name {
  font-size: 20px;
  margin: 10px;
}
